.capa_cadastro{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #122864bd 0%, #4baffc9f 100%);
    animation: modalcapa_cadastro .3s;
}
@keyframes modalcapa_cadastro{
    from {
        opacity: 0;
        transform: translate(0, -60, 0);
    }
    to {
        opacity: 1;
        transform: translate(0, 0, 0);
    }
}
.cadastro1{
    display: none;
    position: absolute;
    top: 12%;
    left: 26%;
    width: 550px;
    height: 490px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 40px #001242a6;
    border-top: solid 3px #e6e6e6d3;
    border-left: solid 3px #e6e6e6;
    animation: modalcadastro1 .3s;
}
@keyframes modalcadastro1{
    from {
        opacity: 0;
        transform: translate(0, -60, 0);
        top: 8%;
    }
    to {
        opacity: 1;
        transform: translate(0, 0, 0);
    }
}
.txtTipoDeUser{
    position: absolute;
    top: -1px;
    left: 32%;
    font-size: 25px;
    cursor: default;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #3E47CD;
}
.psicologoComum{
    display: none;
}
#tipoDeUser{
    height: 370px;
    width: 160px;
    margin: auto ;
    padding: 7px 46px;
    border-radius: 20px;
    color: #383838;
    transition: 0.25s;
    float: left;
    cursor: pointer;
    background: linear-gradient(to top, #aaaaaa60 0%, #ebebeb00 100%);
    border-top: solid 2px #ffffff83;
    border-left: solid 2px #ffffff83;
    border-bottom: solid 2px #dbdbdb5d;
    border-right: solid 2px #dbdbdb5d;
}
.psicologo{
    position: relative;
    top: 70px;
    left: 8px;
}
.comum{
    position: relative;
    top: 70px;
    left: 30px;
}
#tipoDeUser>span{
    font-size: 15px;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%,80%);
    font-family: sans-serif;
    font-weight: 500;
}
.psicologoComum:checked + #tipoDeUser{
    background: linear-gradient(to top, #8d8d8d60 0%, #ebebeb00 100%);
    color: #3E47CD;
    box-shadow: 0 15px 45px #03119449;
    border-top: solid 2px #00ffff;
    border-left: solid 2px #00ffff;
    border-bottom: solid 2px #00d1d1;
    border-right: solid 2px #00d1d1;
}

.imgPsicologo{
    position: absolute;
    width: 80%;
    left: 35px;
    top: 60px;
    height: auto;
}
.imgUser{
    position: absolute;
    width: 100%;
    left: -5px;
    top: 70px;
    height: auto;
}
.fechar1{
    position: absolute;
    top: -20px;
    right: -15px;
    padding: 13px 17px;
    border-radius: 50px;
    border: 1px solid transparent;
    font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif;;
    background: #00ffff;
    color: #3E47CD;
    box-shadow: -2px 1px 20px #03119449;
    cursor: pointer;
    transition: 0.25s;
}
.fechar1:hover{
    top: -21px;
    right: -16px;
}
.fechar2{
    position: absolute;
    top: -20px;
    right: -15px;
    padding: 13px 17px;
    border-radius: 50px;
    border: 1px solid transparent;
    font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif;;
    background: #00ffff;
    color: #3E47CD;
    box-shadow: -2px 1px 20px #03119449;
    cursor: pointer;
    transition: 0.25s;
}
.fechar2:hover{
    top: -21px;
    right: -16px;
}
.voltar1{
    position: absolute;
    top: -20px;
    left: -15px;
    padding: 13px 17px;
    border-radius: 50px;
    border: 1px solid transparent;
    font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif;;
    background: #00ffff;
    color: #3E47CD;
    box-shadow: -2px 1px 20px #03119449;
    cursor: pointer;
    transition: 0.25s;
}
.voltar1:hover{
    top: -21px;
    left: -16px;
}
.cadastroPsicologo{
    display: none;
    position: absolute;
    top: 12%;
    left: 26%;
    width: 550px;
    height: 490px;
    background: #ffffff;
    border-radius: 20px;
    border-top: solid 3px #e6e6e6d3;
    border-left: solid 3px #e6e6e6;
    animation: modalcadastro2 .3s;
}
@keyframes modalcadastro2{
    from {
        opacity: 0;
        transform: translate(0, -60, 0);
    }
    to {
        opacity: 1;
        transform: translate(0, 0, 0);
    }
}
.txtCadastroPsicologo{
    position: absolute;
    top: -1px;
    left: 41%;
    font-size: 25px;
    cursor: default;
    font-family: 'Montserrat Alternates', sans-serif;
    background: -webkit-linear-gradient(left, #0025FA 0%, #0081E6 100%);
    background: linear-gradient(to right, #0025FA 0%, #0081E6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nomeCadastroPsicologo{
    position: absolute;
    top: 80px;
    left: 20px;
    width: 215px;
    padding: 8px 15px;
    outline: none;
    background: #1a386018;
    color: #797979;
    border: solid 1px transparent;
    border-radius: 5px;
    font-size: 15px;
}
.labelNome{
    display: none;
    color: #ff3b55;
    position: absolute;
    top: 13%;
    left: 5%;
    font-size: 12px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.certificacaoNome{
    display: none;
    position: absolute;
    top: 14.5%;
    left: 46.5%;
    width: 18px;
}
.sobrenomeCadastroPsicologo{
    position: absolute;
    top: 80px;
    right: 20px;
    width: 215px;
    padding: 8px 15px;
    outline: none;
    background: #1a386018;
    color: #797979;
    border: solid 1px transparent;
    border-radius: 5px;
    font-size: 15px;
}
.labelSobrenome{
    display: none;
    color: #ff3b55;
    position: absolute;
    top: 13%;
    left: 53%;
    font-size: 12px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.certificacaoSobrenome{
    display: none;
    position: absolute;
    top: 14.5%;
    left: 94.5%;
    width: 18px;
}
.emailCadastroPsicologo{
    position: absolute;
    top: 145px;
    left: 20px;
    width: 478px;
    padding: 8px 15px;
    outline: none;
    background: #1a386018;
    color: #797979;
    border: solid 1px transparent;
    border-radius: 5px;
    font-size: 15px;
}
.labelEmail{
    display: none;
    color: #ff3b55;
    position: absolute;
    top: 26%;
    left: 5%;
    font-size: 12px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.certificacaoEmail{
    display: none;
    position: absolute;
    top: 28%;
    left: 94.5%;
    width: 18px;
}
.senhaCadastroPsicologo{
    position: absolute;
    top: 210px;
    left: 20px;
    width: 215px;
    padding: 8px 15px;
    outline: none;
    background: #1a386018;
    color: #797979;
    border: solid 1px transparent;
    border-radius: 5px;
    font-size: 15px;
}
.olho2{
    position: absolute;
    top: 44.5%;
    left: 43.5%;
    width: 18px;
    opacity: 40%;
    cursor: pointer;
}
.labelSenha{
    display: none;
    color: #ff3b55;
    position: absolute;
    top: 39%;
    left: 5%;
    font-size: 12px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.certificacaoSenha{
    display: none;
    position: absolute;
    top: 41%;
    left: 46.5%;
    width: 18px;
}
.confirmarSenhaCadastroPsicologo{
    position: absolute;
    top: 210px;
    right: 20px;
    width: 215px;
    padding: 8px 15px;
    outline: none;
    background: #1a386018;
    color: #797979;
    border: solid 1px transparent;
    border-radius: 5px;
    font-size: 15px;
}
.olho3{
    position: absolute;
    top: 44.5%;
    left: 91%;
    width: 18px;
    opacity: 40%;
    cursor: pointer;
}
.labelConfirmarSenha{
    display: none;
    color: #ff3b55;
    position: absolute;
    top: 39%;
    left: 53%;
    font-size: 12px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.certificacaoConfirmarSenha{
    display: none;
    position: absolute;
    top: 41%;
    left: 94.5%;
    width: 18px;
}
.txtGeneroPsicologo{
    position: absolute;
    top: 258px;
    left: 35px;
    font-size: 14px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #353535d3;
}
.certificacaoGenero{
    display: none;
    position: absolute;
    top: 51.5%;
    left: 18%;
    width: 18px;
}
.generoPsicologo{
    display: none;
}
#gp{
    color: #353535d3;
    background-color: #1a386018;
    font-family: 'Poppins',sans-serif;
    float: left;
    position: relative;
    text-align:center;
    width: 130px;
    height: 7px;
    font-size: 13px;
    margin: 20px auto;
    border: solid 1.75px transparent;
    border-radius: 5px;
    padding: 13px 13.5px;
    align-items: left;
    margin-left: 2px;
    margin-top: 6%;
    justify-content: space-between;
    transition: 0.25s;
    cursor: pointer;
}
#gp>.spangp{
    font-size: 15px;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%,80%);
    font-family: sans-serif;
}
.generoPsicologo:checked + #gp{
    color: #3E47CD;
    box-shadow: 0 0px 30px #03119438;
    border-top: solid 1.75px #00ffff;
    border-left: solid 1.75px #00ffff;
    border-bottom: solid 1.75px #00d1d1;
    border-right: solid 1.75px #00d1d1;
}

.pf{
    position: absolute;
    top: 245px;
    left: 20px;
}
.pm{
    position: absolute;
    top: 245px;
    left: 33px;
}
.po{
    position: absolute;
    top: 245px;
    right: -47px;
}
.txtDataPsicologo{
    position: absolute;
    top: 325px;
    left: 35px;
    font-size: 14px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #353535d3;
}
.certificacaoData{
    display: none;
    position: absolute;
    top: 68.5%;
    left: 46.5%;
    width: 18px;
}
.dataPsicologo{
    position: absolute;
    top: 345px;
    left: 20px;
    width: 215px;
    padding: 7px 15px;
    outline: none;
    background: #1a386018;
    color: #353535d3;
    border: solid 1px transparent;
    border-radius: 5px;
    font-size: 15px;
}
.documentoDoPsicologo{
    position: absolute;
    top: 345px;
    right: 20px;
    width: 215px;
    padding: 8px 15px;
    outline: none;
    background: #1a386018;
    color: #797979;
    border: solid 1px transparent;
    border-radius: 5px;
    font-size: 15px;
}
.labelCrm{
    display: none;
    color: #ff3b55;
    position: absolute;
    top: 66.5%;
    left: 53%;
    font-size: 12px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.certificacaoCrm{
    display: none;
    position: absolute;
    top: 68.5%;
    left: 94.5%;
    width: 18px;
}
.cadastrarPsicologo{
    position: absolute;
    top: 415px;
    left: 187px;
    font-size: 16px;
    padding: 12px 50px;
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    outline: none;
    background: #3E47CD;
    cursor: pointer;
}
.sucesso1{
    display: none;
    position: absolute;
    top: 35%;
    left: 42%;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    background: #ffffff;
    border-top: solid 2px #ffffff83;
    border-left: solid 2px #ffffff83;
    border-bottom: solid 2px #dbdbdb5d;
    border-right: solid 2px #dbdbdb5d;
    box-shadow: -2px 1px 20px #03119449;
    animation: modalcadastro1 .3s;
}
.imgSucesso{
       position: absolute;
       top: 5%; 
       left: 17%;
}
.txtSucesso{
    position: absolute;
    top: 80%; 
    left: 15%;
    color: #353535d3;
    font-family: 'Montserrat Alternates', sans-serif;
}

