body{
    background-color: #F6F3F7;
}

.espacador{
    height: 80px;
    text-align: -30000px;
}

.container{
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: -30px;
}

.secao{
    background-color: white;
    width: 100%;
    border-radius: 15px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.505);
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 14px;
}

.cabecalhoSecao{
    padding: 13px 17px;
    display: flex;
    justify-content: space-between;
}

.cabecalhoSecao .tit{
    font-weight: 700;
}

.cabecalhoSecao .editar{
    color: #005FDB;
    cursor: pointer;
}

.campos{
    margin: 0 50px;
    display: flex;
}








.suasInformacoes .coluna-1{
    margin: 20px 50px 10px 20px;
}

.suasInformacoes .coluna-1 img{
    width: 100px;
    margin-bottom: 30px;
}

.suasInformacoes .coluna-1 span{
    display: block;
    text-align: center;
    border-radius: 5px;
    padding: 7px 15px;
    background-color: #3E47CD;
    color: white;
    cursor: pointer;
}

.tituloCampo{
    display: block;
    font-weight: 400;
    margin-bottom: 3px;
}

.campo{
    background-color: #1a386010;
    border: none;
    height: 30px;
    border-radius: 2px;
    padding: 0 10px;
}

.campo::placeholder{
    color: #868181;
}

.suasInformacoes .coluna-2{
    margin-left: 20px;
    width: 35%; 
    margin-right: 50px;
}

.campoNome{
    width: 100%;
}

.profissao, .crm{
    display: inline-block;
    margin-top: 20px;
    width: 60%;
}

.crm{
    width: 30%;
    float: right;
}

.profissao .campo, .crm .campo{
    width: 100%;
}

.tituloSite{
    margin-top: 20px;
}

.campoSite{
    width: 100%;
    margin-bottom: 50px;
}

.suasInformacoes .coluna-3{
    margin-left: 40px;
    width: 37%; 
}

.suasInformacoes .coluna-3 .campo{
    width: 100%;
}

.conteSobre{
    margin-top: 20px;
}

.suasInformacoes .coluna-3 textarea{
    height: 100px;
    padding-top: 10px;
}

.contCaracteres{
    color: #060606a6;
    margin-bottom: 40px;
}






.informacoesPerfil .linha-1, .informacoesPerfil .linha-2, .informacoesPerfil .linha-3{
    display: flex;
    padding: 0 50px 20px;
}

.informacoesPerfil .linha-4{
    padding: 0 50px;
    margin-top: -15px;
    margin-bottom: 30px;
}

.dataNasc .campo{
    margin-right: 100px;
    width: 150px;
}

.cep .campo{
    margin-right: 50px;
    width: 80px;
}

.endereco .campo{
    margin-right: 20px;
    width: 230px;
}

.num .campo{
    margin-right: 20px;
    width: 30px;
}

.complemento .campo{
    width: 80px;
}

.idade .campo{
    margin-right: 220px;
    width: 30px;
    text-align: center;
}

.bairro .campo{
    margin-right: 20px;
    width: 250px;
}

.cidade .campo{
    margin-right: 20px;
    width: 180px;
}

.estado .campo{
    margin-right: 20px;
    width: 70px;
}

.pais .campo{
    margin-right: 20px;
    width: 70px;
}

.codigoPais .campo{
    margin-right: 20px;
    width: 70px;
}

.ddd .campo{
    margin-right: 20px;
    width: 70px;
}

.celular .campo{
    margin-right: 20px;
    width: 120px;
}

.e-mail .campo{
    margin-right: 20px;
    width: 300px;
}

.whatsapp .tituloCampo{
    display: inline;
}







.playlists .links{
    padding: 0 200px 100px;
}

.playlists .links .linha{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.playlists .links .linha .link .campo{
    width: 400px;
}






.desativarConta .botao{
    background-color: #F01818;
    padding: 10px;
    border-radius: 7px;
    display: inline;
    float: right;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.desativarConta .botao:hover{
    box-shadow: 1px 1px 5px red;
}





.rodape{
    position: absolute;
    left: 0;
    top: auto;
    width: 100%;
    height: 130px;
    background: #3E47CD;
    border-bottom: 10px solid #20E8F4;
}