.espacador{
    height: 80px;
    text-align: -30000px;
}

.paiTitulo{
    text-align: center;
    margin-bottom: 60px;
}

.tituloPodcast{
    font-size: 40px;
    cursor: default;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #3E47CD;
}

.caixaPesquisa{
    margin: 60px 0 90px;
    display: flex;
    justify-content: center;
}

.pesquisar{
    outline: none;
    width: 300px;
    background: #1a386018;
    color: #797979;  /* #1a386018 */
    transition: 0.40s;
    padding: 6px 30px;
    border: solid 0px transparent;
    border-radius: 5px 0px 0px 5px; 
    font-size: 15px;
}

.botaoPesquisar{
    color: #ffffff;
    background: #3E47CD;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 7px 10px;
    border-radius: 0px 5px 5px 0px; 
    border: none;
    cursor: pointer;
    transition: .4s;
}

.linhaCards{
    display: flex;
    justify-content: center;
}

.card{
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    width: 400px;
    height: 220px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid #20E8F4;
    transition: .4s;
}

.cabecalhoCard{
    display: flex;
    align-items: center;
}

.imgCard{
    width: 70px;
    border-radius: 35px;
    margin: 10px 20px 0px 30px;
}

.cardNome{ 
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #3E47CD;
}

.corpoCard{
    display: flex;
    justify-content: center;
}

.corpoCard div{
    width: 210px;
}

.descCard{
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;    
    color: #808080;    
}

.linha{    
    border-bottom: 2px solid #20E8F4;
}

.iconeDescCard{
    width: 20px;
}

.card:hover{
    box-shadow: -3px 3px 10px #00124293;
}

.paiAcessarCard{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acessaCard{
    text-align: center;
    color: #ffffff;
    background: #3E47CD;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .4s;
}

.acessaCard:hover{
    box-shadow: -3px 3px 10px #00124293;
}

.caixaVerMais{
    padding: 30px 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.verMais{
    color: #ffffff;
    background: #3E47CD;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 14px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .4s;
}
.verMais:hover{
    box-shadow: -3px 3px 10px #00124293;
}

.rodape{
    position: absolute;
    left: 0;
    top: auto;
    width: 100%;
    height: 130px;
    background: #3E47CD;
    border-bottom: 10px solid #20E8F4;
}